html, body {
    height: 100%;
}
body {
    background: #d5d7d8;
    margin: 0px;
}
div#carpark_container {
    text-align: center;
}

div#logo_container {
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 15px;
}

::selection { background: #a4dcec; }
::-moz-selection { background: #a4dcec; }
::-webkit-selection { background: #a4dcec; }

::-webkit-input-placeholder { /* WebKit browsers */
    color: #ccc;
    font-style: italic;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #ccc;
    font-style: italic;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #ccc;
    font-style: italic;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #ccc !important;
    font-style: italic;
}

br { display: block; line-height: 2.2em; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

input, textarea {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

#searchfield {
    display: block;
    background: #2c3033;
    width: 100%;
    text-align: right;
    margin-bottom: 15px;
    padding-right: 15px;
}

#searchfield form {
    display: inline-block;
    padding: 0;
    margin: 0;
    padding: 5px;
    margin: 5px 0 0 0;
}

#searchfield form .biginput {
    width: 400px;
    height: 40px;
    padding: 0 10px 0 10px;
    background-color: #fff;
    color: #aeaeae;
    font-weight:normal;
    font-size: 1.5em;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

#searchfield form .biginput:focus {
    color: #858585;
}

div.autocomplete-suggestions {
    padding: 0 10px 0 10px;
    background-color: #fff;
    border: 1px solid #c8c8c8;
    color: #aeaeae;
    font-weight:normal;
    font-size: 1.5em;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
}